<div class="input-div">
    <select name="userSelect" ng-model="selectUserId">
        <option value="">{{ chirp.userName }}</option>
    </select>
    <textarea placeholder="{{ chirp.message }}" cols="20" rows="3" ng-model="newMessage"></textarea>
    <button class="fancy-button" ng-click="updateChirp()">Update Chirp</button>
</div>
<div class="chirp">
    <p>{{ chirp.message }}</p>
    <h2>{{ chirp.userName }}</h2>
    <h5>{{ chirp.timestamp | date:'short' }}</h5>
    <button class="fancy-button red" ng-click="deleteChirp()">Delete</button>
</div>